# Files/directories to be ignored - Project under Apache-2.0 License
# Copyright 2025 Emanuele Relmi
/.idea/

/code/artifacts/
/code/cache/
/code/package-lock.json
/code/node_modules/

/code/scripts/contract-addresses.json
/code/scripts/interact/fetchDID.js
/code/scripts/interact/issuer-did.json
/code/scripts/interact/issuer2-did.json
/code/scripts/interact/holder-did.json
/code/scripts/interact/holder2-did.json
/code/scripts/interact/sd-vp.jwt
/code/scripts/interact/SD-VP_attestation.json
/code/scripts/interact/vp.jwt
/code/scripts/interact/VP_attestation.json
/code/scripts/interact/bbs_attestation.json
/code/scripts/interact/semaphore_attestation.json
/code/scripts/interact/Semaphore/semaphore.wasm
/code/scripts/interact/Semaphore/semaphore.zkey

/code/scripts/dApp/local-db.json

/code/frontend/package-lock.json
/code/frontend/node_modules/

/code/backend/node_modules/
/code/backend/package-lock.json

/code/idp-mock/node_modules
/code/idp-mock/package-lock.json