# Files/directories to be ignored - Project under Apache-2.0 License
# Copyright 2025 Emanuele Relmi
/.idea/
/my-app/
/code/artifacts/
/code/cache/
/code/package-lock.json
/code/node_modules/
/code/frontend/package-lock.json
/code/frontend/.env.local
/code/frontend/node_modules/
/code/backend/.env
/code/backend/sp-private.key
/code/backend/sp-public.crt
/code/backend/cert.b64
/code/backend/key.b64